.confetti-background {
    background: url("/resources/zaumvyft_Confetti.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url('/static/resources/etamuhnf_Balloons_2.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-weight: bold;
    font-size: 70px;
    font-family: "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    /* color: black; */
    color: #173343;
}

.bold {
    font-weight: bold;
    /* color: black; */
    color: #474040;
}

.thank-you {
    background: url("resources/zaumvyft_Confetti.gif");
}

.jumbotron {
    padding: 10px 0 10px 0;
    margin-bottom: 0px;
    background: none;
}

h1 {
    color: #183343;
    font-weight: bold;
    font-family: serif;
}

h2, label {
    /* color: black; */
    color: #474040;
    font-weight: bold;
}

.container-fluid {
    margin-top: 50px;
}

.form-control {
    /* border: 1px solid #000000; */
    border: 1px solid #474040;
}

.btn-primary {
    border: 2px solid #474040;
    width: 150px;
}

.unilinkDiv {
    border: 2px solid #183343;
    border-radius: 2px;
    font-weight: bold;
    font-size: 25px;
}

.customcolor {
    background-color: #F1E7B3;
}

#user_photo_img{
    border-radius: 20px;
}
#bday_photo_img{
    border-radius: 20px;
}

input{
    padding: 10px;
    background-color: #cac19996;
    border-radius: 20px;
    min-width: 100%;
    max-width: 100%;
}

.m-20{
    padding: 20px;
    margin: 20px;
}